@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Play:wght@700&display=swap');

* {
    color: black;
    font-size: 10px;
    font-family: 'Play', sans-serif;
}

body {
    border: 1px solid black;
}

/* Generic */
p {
    font-size: 1.25rem;
    font-family: 'Play', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.25rem;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', sans-serif;
}

.main-heading {
    font-size: 3rem;
    color: #831717;
    text-shadow: 3px 2px 1px rgba(150, 150, 150, 1);
    text-align: center;
}

.button-bg-color {
    background-color: #d2d2af;
}

button.button-bg-color:hover {
    background-color: #e7e97e;    
}

form .form-label {
    color: #5c5c5c;
}

.no-padding {
    padding: 0;
}

#no-margin {
    margin-bottom: 0;
}

/*  Navigation Styling  */

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    float: none;
}

nav ul li a {
    color: black;
    font-weight: bolder;
    font-size: 1.5vw;
    display: inline-block;
}

.menu-icon i {
    font-size: 4vh;
}

nav {
    border-bottom: 1px solid black;
    font-family: 'Play', sans-serif;
    background-color: #ffffff;
}

nav .brand-logo {
    min-height: 100%;
}

/* Base Template */

.banner-bg-color {
    border-bottom: 1px solid black;
    background-color: #d2d2af;
}

main {
    background-image: url("../images/bg-small.jpg");
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-size: cover;
}

#main-cont {
    background-color: rgba(255, 255, 255, 0.4);
}

.alert-error {
    color: rgb(150, 33, 33);
}

.alert-message {
    color: green;
}

/* Home Page */

.landing-sub {
    color: #831717;
    font-weight: bolder;
}

.anchor-links {
    color: #ff0606;
    font-size: 1rem
}

.small-text {
    font-size: 1rem;
}

.event-images {
    width: 100%;
}

/* Events Page */
.event-header {
    font-size: 2rem;
    color: #831717;
    font-family: 'PT Serif', sans-serif;
}

.event-sub {
    font-size: 1rem;
}

#search-btn {
    margin-top: 20px;
}

.card-collapse {
    background-color: #d2d2af;
    border: 1px solid black;
}

#search-header {
    font-size: 2rem;
    color: #831717;
    font-family: 'PT Serif', sans-serif;
    margin: 0;
    letter-spacing: 1.3px;
}

#search-sub {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 1.1px;
}

#search {
    font-size: 2rem;
    color: #831717;
}

/* Contact Page */
.email-response {
    font-size: 1vw;
    font-weight: bolder;
    margin-bottom: 1rem;
}

/* Profile Page */
.profile-info {
    background-color: #d2d2af;
    border: 1px solid black;
    padding: 0 2.75rem 0 2.75rem;
}

.profile-sub-headings {
    color: #831717;
    font-size: 2rem;
}

/* Error pages */

.error-heading {
    display: none;
}

/* Footer */
footer {
    border-top: 1px solid black;
    background-color: #d2d2af;
}

a:link {
  color: black;
}

.footer-title {
    font-size: 1.5rem;
    color: #5b4205;
    font-family: 'PT Serif', sans-serif;
}

.footer-content {
    font-size: 1rem;
}

.footer-copyright {
    font-size: 10px;
}

/* Media Queries */

/* Media Query for background image on large screens */
@media only screen and (min-width: 1000px) {
  main {
        background-image: url("../images/background-img.jpg");
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-size: cover;
    }
}

/* Media Query to make heading text bigger on larger screen sizes */
@media only screen and (min-width: 655px) {
    .main-heading {
        font-size: 4rem;
    }
}

/* Media Query to make event headings text bigger on larger screen sizes */
@media only screen and (min-width: 700px) {
    .event-header {
        font-size: 2.75rem;
    }
}

/* Media Query to make event sub text bigger on larger screen sizes */
@media only screen and (min-width: 700px) {
    .event-sub {
        font-size: 1.5rem;
    }
}

/* Media Query to make error nav header text display on medium screen sizes */
@media only screen and (min-width: 465px) {
    .error-heading {
        display: block;
        font-size: 2rem;
        color: #831717;
        text-shadow: 3px 2px 1px rgba(150, 150, 150, 1);
        text-align: right;
        padding-right: 5px;
    }
}

/* Media Query to make error nav header text bigger and centered on larger screen sizes */
@media only screen and (min-width: 750px) {
    .error-heading {
        font-size: 3rem;
        color: #831717;
        text-shadow: 3px 2px 1px rgba(150, 150, 150, 1);
        text-align: center;
    }
}