{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="col s12 l8 offset-l2" method="POST" action="{{ url_for('edit_event', event_id=event._id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="card-panel">
                    <h1 class="main-heading">Edit Event</h1>
                    <!-- Event Type Populated from categories collection-->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-caret-square-down prefix text-darken-4"></i>
                            <select id="event_type" name="event_type" type="text" class="validate" required>
                                <option value="" disabled selected>Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.event_type }}">{{ category.event_type }}</option>
                                {% endfor %}
                            </select>
                            <label for="event_type" class="form-label">Event Type</label>
                        </div>
                    </div>
                    <!-- Location -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-location-arrow prefix text-darken-4"></i>
                            <input id="location" name="location" type="text" class="validate" value="{{ event.location }}" required>
                            <label for="location" class="form-label">Location</label>
                        </div>
                    </div>
                    <!-- Date -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-calendar-alt prefix text-darken-4"></i>
                            <input id="date" name="date" type="text" class="datepicker validate" value="{{ event.date }}" required>
                            <label for="date" class="form-label">Date</label>
                        </div>
                    </div>
                    <!-- Event Description -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-align-justify prefix text-darken-4"></i>
                            <textarea id="description" name="description" type="text" class="materialize-textarea validate">{{ event.description }}</textarea>
                            <label for="description" class="form-label">Description</label>
                        </div>
                    </div>
                    <!-- Organiser -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-signature prefix text-darken-4"></i>
                            <input id="organiser" name="organiser" type="text" class="validate" value="{{ event.organiser }}">
                            <label for="organiser" class="form-label">Organiser</label>
                        </div>
                    </div>
                    <!-- Create Event Submit Button -->
                    <div class="row">
                        <div class="col s12 m6 center-align">
                            <!-- cancel button -->
                            <a href="{{ url_for('get_events') }}" class="btn-large red text-shadow">
                                Cancel <i class="fas fa-times-circle right"></i>
                            </a>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button type="submit" class="btn-large button-bg-color text-shadow">
                                Save <i class="fas fa-edit right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}