{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 l8 offset-l2" id="main-cont">
            <h1 class="main-heading">Upcoming Events</h1>

            <!-- Search Form -->
            <div class="row card-panel grey lighten-5">
                <div class="col s12 center-align">
                    <p id="search-header">
                        <i class="fas fa-search prefix black-text text-darken-2" id="search"></i>
                        Looking for an Event?
                    </p>
                    <p id="search-sub">You can search by Event Type, Location or Date</p>
                </div>

                <form action="{{ url_for('search') }}" method="post" class="col s12">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="row">
                        <!-- Event type drop down -->
                        <div class="input-field col s12 m6 offset-m3">
                            <select id="event_type" name="event_type" class="validate">
                                <option value="" disabled selected>Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.event_type }}">{{ category.event_type }}</option>
                                {% endfor %}
                            </select>
                            <label class="form-label">Event Type</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Text search box -->
                        <div class="input-field col s12 m6 offset-m3">
                            <input type="text" name="location" id="location" class="validate" placeholder="Kilkenny">
                            <label for="location" class="form-label">Location</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Date Picker -->
                        <div class="input-field col s12 m6 offset-m3">
                            <input id="date" name="date" type="text" placeholder="31 December 2020" class="datepicker validate">
                            <label for="date" class="form-label">Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Search Button -->
                        <div class="col s12 center-align">
                            <button type="submit" class="button-bg-color black-text btn text-shadow" id="search-btn">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            {% if events|length > 0 %}
                <ul class="collapsible">
                    {% for event in events %}
                    <li>
                        <div class="collapsible-header card-collapse text-shadow">
                            <div class="col s12">
                                <p class="event-title">{{ event.event_type }}<br> 
                                    {{ event.date }}
                                </p>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <p class="event-header">Description:<br> 
                                <span class="event-sub">{{ event.description }}</span>
                            </p>
                            <p class="event-header">Location:<br>
                                <span class="event-sub">{{ event.location }}</span>
                            </p>
                            <p class="event-header">Organiser:<br>
                                <span class="event-sub">{{ event.organiser }}</span>
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p class="red-text text-darken-4 center-align">No Results Found</p>
            {% endif %}
            
        </div>
    </div>
{% endblock %}