{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 l8 offset-l2 center-align" id="main-cont">
            <h1 class="main-heading">Motorbike Event Finder</h1>

            <div class="row ">
                <div class="col s10 offset-s1 m5 center-align">
                    <figure>
                        <img src="static/images/mock_biker_wedding.jpg" alt="2 motorbikes doing burnout with a bride between them" 
                            class="center-align responsive-img">
                        <figcaption>Mock Biker Wedding - August 2017</figcaption>
                    </figure>
                </div>
                <div class="col s12 m7 center-align">
                    <p class="landing-sub">Want to find or organise a biker event?</p>
                    <p>Motorbike Event Finder is your one stop shop for all Bike related events. Whether you want to advertise your 
                        event or find one, you need to look no further! 
                    </p>
                    <span class="small-text">Want to find upcoming events near you? <a href="{{ url_for('get_events') }}" class="anchor-links">Click here</a></span>
                </div>
            </div>
            <div class="row ">
                <div class="col s12 m7 center-align">
                    <p class="landing-sub">Just want to arrange a local meet up?</p>
                    <p>If you don't fancy a big event but want to find some fellow bikers for a local meet up or spin out, 
                        you can do that by selecting 'Local Meet' on the event drop down when creating a new event.
                    </p>
                    <span class="small-text">Want to arrange a Meet Up? Simply sign up <a href="{{ url_for('get_events') }}" class="anchor-links">here</a> and create an event!</span>
                </div>
                <div class="col s10 offset-s1 m5 center-align">
                    <figure>
                        <img src="static/images/local_meet.jpg" alt="Bikers smiling and giving thumbs up" 
                            class="center-align responsive-img">
                        <figcaption>Local Meet Up - Hosted by Batman</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <p class="landing-sub" id="about">About Us</p>
                    <p>Motorbike Event Finder was created to allow bikers a place to find and advertise all events of the biking kind. Social media can 
                        be a great source of information and advertising but it can also be difficult to find the information as it is never in one place.
                        Our aim is to simplify this and make finding up coming Rallies, Meet Ups, Charity Events or Club Hosted nights a quick and easy 
                        process.
                    </p>
                    <span class="small-text">Got a suggestion to help us improve our site? <a href="{{ url_for('contact') }}" class="anchor-links">Contact us</a></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}