{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 l8 offset-l2" id="main-cont">
            <h1 class="main-heading">Motorbike Event Finder</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Quis lectus nulla at volutpat. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Ac tortor vitae purus faucibus 
            ornare suspendisse sed. Integer enim neque volutpat ac tincidunt vitae. Urna nunc id cursus metus aliquam eleifend mi. Mi ipsum 
            faucibus vitae aliquet nec ullamcorper sit amet. Accumsan lacus vel facilisis volutpat est. Senectus et netus et malesuada fames. 
            Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Vehicula ipsum a arcu cursus. Donec adipiscing tristique 
            risus nec feugiat. Ornare quam viverra orci sagittis eu volutpat odio. Ut eu sem integer vitae justo eget magna. Dolor sit amet 
            consectetur adipiscing elit. Feugiat vivamus at augue eget arcu dictum varius duis at.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Quis lectus nulla at volutpat. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Ac tortor vitae purus faucibus 
            ornare suspendisse sed. Integer enim neque volutpat ac tincidunt vitae. Urna nunc id cursus metus aliquam eleifend mi. Mi ipsum 
            faucibus vitae aliquet nec ullamcorper sit amet. Accumsan lacus vel facilisis volutpat est. Senectus et netus et malesuada fames. 
            Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Vehicula ipsum a arcu cursus. Donec adipiscing tristique 
            risus nec feugiat. Ornare quam viverra orci sagittis eu volutpat odio. Ut eu sem integer vitae justo eget magna. Dolor sit amet 
            consectetur adipiscing elit. Feugiat vivamus at augue eget arcu dictum varius duis at.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Quis lectus nulla at volutpat. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Ac tortor vitae purus faucibus 
            ornare suspendisse sed. Integer enim neque volutpat ac tincidunt vitae. Urna nunc id cursus metus aliquam eleifend mi. Mi ipsum 
            faucibus vitae aliquet nec ullamcorper sit amet. Accumsan lacus vel facilisis volutpat est. Senectus et netus et malesuada fames. 
            Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Vehicula ipsum a arcu cursus. Donec adipiscing tristique 
            risus nec feugiat. Ornare quam viverra orci sagittis eu volutpat odio. Ut eu sem integer vitae justo eget magna. Dolor sit amet 
            consectetur adipiscing elit. Feugiat vivamus at augue eget arcu dictum varius duis at.</p>
        </div>
    </div>
{% endblock %}