{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2" id="main-cont">
            <h1 class="main-heading">Profile</h1>

            <p>Your Events</p>

            {% if events|length > 0 %}
                <ul class="collapsible">
                    {% for event in events %}
                    {% if session.user|lower == event.created_by|lower %}
                    <li>
                        <div class="collapsible-header white-text green darken-1 text-shadow">
                            <div col s3>
                                <a href="{{ url_for('delete_event', event_id=event._id) }}" class="btn-small green accent-4">Delete</a>
                                <a href="{{ url_for('edit_event', event_id=event._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                            </div>
                            <div class="col s12">
                                <p class="event-title">{{ event.event_type }}<br> 
                                    {{ event.date }}
                                </p>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <p class="event-header">Description:<br> 
                                <span class="event-sub">{{ event.description }}</span>
                            </p>
                            <p class="event-header">Location:<br>
                                <span class="event-sub">{{ event.location }}</span>
                            </p>
                            <p class="event-header">Organiser:<br>
                                <span class="event-sub">{{ event.organiser }}</span>
                            </p>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
            <h3 class="red-text text-darken-4 center-align">No Events Found</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}