{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 l8 offset-l2" id="main-cont">
            <h1 class="main-heading">Profile</h1>

            <p class="event-sub">Manage Events</p>

            {% if events|length > 0 %}
                <!-- Event Information -->
                <ul class="collapsible">
                    {% for event in events %}
                    {% if session.user|lower == event.created_by|lower %}
                    <li>
                        <div class="collapsible-header black-text card-collapse text-shadow">
                            <div class="col s12">
                                <p class="event-title">{{ event.event_type }}<br> 
                                    {{ event.date }}
                                </p>
                            </div>
                        </div>
                        <!-- Expanded Event Information -->
                        <div class="collapsible-body">
                            <p class="event-header">Description:<br> 
                                <span class="event-sub">{{ event.description }}</span>
                            </p>
                            <p class="event-header">Location:<br>
                                <span class="event-sub">{{ event.location }}</span>
                            </p>
                            <p class="event-header">Organiser:<br>
                                <span class="event-sub">{{ event.organiser }}</span>
                            </p>
                            <!-- Edit / Delete Buttons -->
                            <a href="{{ url_for('delete_event', event_id=event._id) }}" class="btn-small red accent-4">Delete</a>
                            <a href="{{ url_for('edit_event', event_id=event._id) }}" class="btn-small light-green lighten-1">Edit</a>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}